# POSTGRES
POSTGRES_USER=prisma
POSTGRES_PASSWORD=topsecret
POSTGRES_DB=shottrace

# POSTGRES run locally
DB_HOST=localhost
DB_PORT=5433
DB_SCHEMA=shottrace

# Prisma database connection
DATABASE_URL=postgresql://prisma:topsecret@localhost:5433/shottrace?schema=shottrace

# Security
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=

JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRATION=

# Google OAuth
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
GOOGLE_AUTH_REDIRECT_URI=
AUTH_UI_REDIRECT=

# TMDB
TMDB_API_KEY=