# App
NODE_ENV=development
PORT=3000

# Prisma database connection
DATABASE_URL=postgresql://prisma:topsecret@localhost:5433/shottrace

# Security
JWT_ACCESS_TOKEN_SECRET=topSecretAt
JWT_ACCESS_TOKEN_EXPIRATION=15m
JWT_REFRESH_TOKEN_SECRET=superTopSecretRt
JWT_REFRESH_TOKEN_EXPIRATION=7d
FRONTEND_URL=http://localhost:3001

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_UI_REDIRECT_URI=

# TMDB
TMDB_API_KEY=
TMDB_BASE_URL=https://api.themoviedb.org/3
